.cd-slider > li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
  }
  .cd-slider > li.visible {
    position: relative;
    z-index: 2;
    opacity: 1;
  }
  .cd-slider > li.is-animating {
    z-index: 3;
    opacity: 1;
  }
  .cd-slider .cd-svg-wrapper {
    /* using padding Hack to fix bug on IE - svg height not properly calculated */
    height: 0;
    padding-bottom: 57.15%;
  }
  .cd-slider svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }