
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Fugaz+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rakkas&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}
/* Root variables for theming */
:root {
    --bg-color-light: #ffffff; /* Light mode background color */
    --text-color-light: #333333; /* Light mode text color */
    --bg-color-dark: #121212; /* Dark mode background color */
    --text-color-dark: #ffffff; /* Dark mode text color */
}


.font1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.font2 {
  font-family: "Rakkas", serif;


}
